*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll; /* always show scrollbar track to prevent layout shift */
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100%;
}
